body {
  margin: 0;
  text-align: center;
  background-color: #f9eab0;
}
  footer {
background-color: #F2D388;
padding: 0.5rem;
  }
h1 {
  font-family: 'Satisfy', cursive;
  color: #955ba5;
  font-size: 7rem;
  margin-bottom: 0;
  margin-left: auto;
}

h2 {
  font-family: 'Kanit', sans-serif;
  color: #955ba5;
  margin-top: 0;
  margin-bottom: 0;
}


p {
  font-family: 'Merriweather', serif;
  color: #ff5364;
  padding: 0 40rem 0 40rem;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

hr {
  border-style: dotted none none none;
  border-width: 5px;
  color: #955ba5;
  width: 5rem;
  margin-bottom: 4rem;
}

.bolo {
  margin-top: 5rem;
}

.topo {
  background-color: #F2D388;
  position: relative;
  padding: 3rem;
}

.balaovermelho1 {
  max-width: 4rem;
  margin-left: 30rem;
  position: absolute;
}

.balaovermelho2 {
  max-width: 4rem;
  position: absolute;
  margin-left: -10rem;
}

.gague {
  border-radius: 50%;
  max-width: 20rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.baby {
  max-width: 7rem;
  float: left;
  margin-left: 30rem;
}

.broders {
  max-width: 7rem;
  float: right;
  margin-right: 30rem;
}

.fim {
  font-size: 3rem;
  padding: 0 40rem 3rem 40rem;
}
.assinatura {

}
